#first-row,
#second-row {
    position: fixed;
    left: 0;
    right: 0;
    height: 50%;
}

#first-row {
    top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    background-image: url("wallpaper.jpg");
}

#second-row {
    bottom: 0;
}

img {
    border-radius: 50%;
    width:200px;
    height:200px;
    position: fixed;
    z-index: 1;
    left: 45%;
    top: 30%;
  }

h1 {
    z-index: 1;
    margin-top: 430px;
    position: relative;
    text-align: center;
    color: #340410;
    font-family: 'Droid serif', serif; 
    font-size: 40px; 
    font-weight: normal; 
    line-height: 48px;
}

h2 {
    z-index: 1;
    position: relative;
    text-align: center;
    color: #7c795d; 
    font-family: 'Droid serif', serif; 
    font-size: 30px; 
    font-weight: normal; 
    line-height: 5px;
}

#social-media {
    position: fixed;
    right: 0px; bottom: 0px;
    padding: 10px;
    font-size: 30px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #d1d1d1;
  color: white;
}

.fa-github {
  background: #d1d1d1;
  color: white;
}

.fa-google {
  background: #d1d1d1;
  color: white;
}

.fa-linkedin {
  background: #d1d1d1;
  color: white;
}